<div id="pergaminhos">
	<h3>Pergaminhos</h3>

	<ul>
		<% pergaminhos.forEach((item) => { %>
			<li>
				<%= item.quantidade %> aldeão(ões)
					<%= item.acao %> -
						<small>restam
							<span class="segundos">
								<%= item.acao_termina_em %>
							</span> segundos - %>
							<a href="#">revogar ordem</a>
						</small>
			</li>
			<% }) %>
	</ul>
</div>
